# Игнорируем node_modules
node_modules
npm-debug.log

# Игнорируем сборку
build
dist

# Игнорируем git
.git
.gitignore

# Игнорируем IDE
.idea
.vscode

# Игнорируем тесты
__tests__
*.test.js
*.spec.js

# Игнорируем документацию
README.md
CHANGELOG.md
docs

# Игнорируем временные файлы
*.log
*.swp
*.swo
.DS_Store 